esphome:
  name: esp32_1_v2
  platform: ESP32
  board: esp32doit-devkit-v1

wifi:
#  fast_connect: true
  networks:
  - ssid: !secret hac_wifi_ssid
    password: !secret hac_wifi_pass
  - ssid: !secret ha_wifi_ssid
    password: !secret ha_wifi_pass

  # Where to upload to
  use_address: 192.168.202.111

  domain: .dsba.net

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "ESP-3-LEDs Fallback Hotspot"
    password: !secret esp_ap_password

captive_portal:

web_server:
  port: 80
  auth:
    username: !secret esp_web_username
    password: !secret esp_web_password

# Enable logging
logger:
  level: DEBUG
# level: VERY_VERBOSE
#    logs:
#     mqtt.component: INFO
#     mqtt.client: INFO

      

# Enable Home Assistant API
# api:
#   password: "!secret esp_api_password"

ota:
  password: "!secret esp_ota_password"


mqtt:
  broker: !secret mqtt_host
  username: !secret esp_mqtt_user
  password: !secret esp_mqtt_pass
  discovery: True
  discovery_retain: False
  topic_prefix: iot/esp32_1_v2
  # let these use defaults for availability:  
  # birth_message:
  #   topic: iot/laun_pir_vib/birth
  #   payload: "Birth Message"
  # will_message:
  #   topic: iot/laun_pir_vib/last_will
  #   payload: "Last Will Message"
  shutdown_message:
    topic: iot/esp32_1_v2/shutdown
    payload: "Shutting down"
  log_topic: iot-log/log/esp32_1_v2

  reboot_timeout: 8min
  
  
esp32_ble_tracker:
  on_ble_advertise:
      then:
        - lambda: |-
            ESP_LOGD("ble_adv", "New BLE device");
            ESP_LOGD("ble_adv", "  address: %s", x.address_str().c_str());
            ESP_LOGD("ble_adv", "  name: %s", x.get_name().c_str());
            ESP_LOGD("ble_adv", "  Advertised service UUIDs:");
            for (auto uuid : x.get_service_uuids()) {
                ESP_LOGD("ble_adv", "    - %s", uuid.to_string().c_str());
            }
            ESP_LOGD("ble_adv", "  Advertised service data:");
            for (auto data : x.get_service_datas()) {
                ESP_LOGD("ble_adv", "    - %s: (length %i)", data.uuid.to_string().c_str(), data.data.size());
            }
            ESP_LOGD("ble_adv", "  Advertised manufacturer data:");
            for (auto data : x.get_manufacturer_datas()) {
                ESP_LOGD("ble_adv", "    - %s: (length %i)", data.uuid.to_string().c_str(), data.data.size());
            }

interval:
  - interval: 300sec
    then:
      - logger.log: "ESP32-1-v2 is connected"
      - mqtt.publish:
          topic: iot/esp32_1_v2/test
          payload: "this is payload"
  
