esphome:
  name: flex-control
  platform: ESP8266
  board: d1_mini
  comment: Board/Relay to use for Remote Power control on Flex 6600

wifi:
  # fast_connect: true for Hidden Networks
  fast_connect: true
  networks:
#  - ssid: !secret hac_wifi_ssid
#    password: !secret hac_wifi_pass
  - ssid: !secret ha_wifi_ssid
    password: !secret ha_wifi_pass

  # Where to upload to
  use_address: 192.168.202.66

  domain: !secret dot_internal_domain

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "FlexControl Fallback Hotspot"
    password: !secret esp_ap_password

captive_portal:

web_server:
  port: 80
  auth:
    username: !secret esp_web_username
    password: !secret esp_web_password

# Enable logging
# VERY_VERBOSE, VERBOSE, DEBUG, INFO, WARN, ERROR, NONE
logger:
  level: DEBUG
  logs:
    mqtt.component: INFO
    mqtt.client: INFO

# Enable Home Assistant API
# api:
#   password: !secret esp_api_password

ota:
  password: !secret esp_ota_password


mqtt:
  broker: !secret mqtt_host
  username: !secret esp_mqtt_user
  password: !secret esp_mqtt_pass
  discovery: True
  discovery_retain: True
  topic_prefix: iot/flex_control
  # let these use defaults for availability:
  # birth_message:
  #   topic: iot/flex_control/birth
  #   payload: "Birth Message"
  # will_message:
  #   topic: iot/flex_control/last_will
  #   payload: "Last Will Message"
  shutdown_message:
    topic: iot/flex_control/shutdown
    payload: "Shutting down"
  log_topic: iot-log/log/flex_control

  reboot_timeout: 8min

switch:
  - platform: restart
    name: Flex-Control ESP Switch Restart

  - platform: gpio
    name: FlexControl Relay Control
    pin: D1

